/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300') */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(rgb(230, 139, 35), rgb(98, 150, 222));
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2.5rem 1.25rem 0rem 1.25rem;
    opacity: 0.9;
}

.container .heading{
    width: 50%;
    padding-bottom: 3.125rem;
}

.container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 0.625rem;
    border-bottom: 0.188rem solid #fffbfb;
    color: #fff;
}

.container .heading h3 span{
    font-weight: 100;
}

.container .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.box .column{
    display: flex;
    flex-direction: column;
    width: 32%;
}

.column img{
    width: 100%;
    padding-bottom: 0.938rem;
    border-radius:  0.625rem;
}

.container .btn{
    margin: 2.5rem 0rem 4.375rem 0rem;
    background: #222;
    padding: 0.938rem 2.5rem;
    border-radius: 0.625rem;
}

.container .btn a{
   color: #fff;
   font-size: 1.2em;
   text-decoration: none;
   font-weight: bolder;
   letter-spacing: 0.125rem;
}

.site{
    position: relative;
    background: rgb(47, 138, 126);
    margin: 0.3rem;
    border-radius: 0.625rem;
}

.site p{
    padding: 0.3rem;
    color: white;
    text-shadow: 0.3125rem 0.3125rem 0.625rem #000000;
}

h2{
    text-shadow: 0.3125rem 0.3125rem 0.625rem #000000;
    color: white;
    display: block;
    margin: auto;
}

@media only screen and (max-width: 50rem) {
    .container .box{
        flex-direction: column;
    }

    .container .box .column{
        width: 50%;
    }
}

@media only screen and (max-width: 43.75rem) {
    .container .box{
        flex-direction: column;
    }

    .container .box .column{
        width: 100%;
    }
}

@media only screen and (max-width: 50rem) {
    .box .column{
    display: flex;
    flex-direction: column;
    width: 16%;
}
}

@media only screen and (max-width: 37.5rem) {
    .container .heading{
        width: 100%;
    }

    .container .heading h3{
        font-size: 1em;
    }
}